<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	mapper接口代理实现编写规则：
	1，映射文件中namespace要等于接口的全路径名称
	2，映射文件中sql语句id要等于接口的方法名称
	3，映射文件中传入参数类型要等于接口方法的传入参数类型
	4，映射文件中返回结果集类型要等于接口方法的返回值类型
 -->
<mapper namespace="com.qq986945193.ssmtools.mapper.MyBatisUserMapper1">
		<!-- 
			id：sql语句的唯一标示。等于接口中的方法名
			parameterType:指定传入参数类型
			resultType:返回结果集
			#{}占位符：起到占位作用，如果传入的是基本类型则可以随便写。
		 -->
	<select id="findUserById" parameterType="int" resultType="com.qq986945193.ssmtools.pojo.MyBatisUser1">
		select * from user where id = #{id}
	</select>

</mapper>